In [129]:
import pandas as pd
import numpy as np
import seaborn as sns
import os,sys,pdb
from pathlib import Path



def clean_data(value):
    if value.find('K') != -1:
        return float(value.replace('€','').replace('K',''))*1000
    elif value.find('M') != -1:
        return float(value.replace('€','').replace('M',''))*1000000
    else:
        return float(value.replace('€',''))

files = [f"{os.getcwd()}\\Data\\{file}" for file in os.listdir(os.getcwd()+f"\Data")]
for file in files:
    print(file)



df = pd.read_csv(files[4].replace('\\',"/"))
df = df[['Name','Value','Wage']]

df['Value']= df['Value'].apply(clean_data)
df['Wage']= df['Wage'].apply(clean_data)

df

C:\Users\Lenovo\Desktop\Study\GitHub\Python Developer\Machine Learning\FIFA 2023 Data\Data\FIFA17_official_data.csv
C:\Users\Lenovo\Desktop\Study\GitHub\Python Developer\Machine Learning\FIFA 2023 Data\Data\FIFA18_official_data.csv
C:\Users\Lenovo\Desktop\Study\GitHub\Python Developer\Machine Learning\FIFA 2023 Data\Data\FIFA19_official_data.csv
C:\Users\Lenovo\Desktop\Study\GitHub\Python Developer\Machine Learning\FIFA 2023 Data\Data\FIFA20_official_data.csv
C:\Users\Lenovo\Desktop\Study\GitHub\Python Developer\Machine Learning\FIFA 2023 Data\Data\FIFA21_official_data.csv
C:\Users\Lenovo\Desktop\Study\GitHub\Python Developer\Machine Learning\FIFA 2023 Data\Data\FIFA22_official_data.csv
C:\Users\Lenovo\Desktop\Study\GitHub\Python Developer\Machine Learning\FIFA 2023 Data\Data\FIFA23_official_data.csv

                   Name       Value      Wage
0             L. Suárez  31500000.0  115000.0
1          K. De Bruyne  87000000.0  370000.0
2       Bruno Fernandes  63000000.0  195000.0
3          A. Griezmann  50500000.0  290000.0
4              M. Acuña  22000000.0   41000.0
...                 ...         ...       ...
17103      19 C. Miszta     50000.0     500.0
17104           B. Voll     50000.0     500.0
17105         T. Parker     60000.0     500.0
17106        H. Sveijer     50000.0     500.0
17107       19 J. Milli     50000.0     500.0

[17108 rows x 3 columns]